#projetos header {
  text-align: center;
  gap: 8px;
  margin-top: 72px;
  margin-bottom: 56px;

  sub {
    font: var(--subtitle);
    color: var(--red);

  }
  h2 {
    margin-top: 8px;
    font: var(--text-md-asap);
    color: var(--gray-600);
  }
}
#cards {
  
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-inline: 120px;
  margin-bottom: 144px ;

}

#card {
  background-color: var(--gray-300);
  border-radius: 12px;
  display: inline-flex;
  flex-direction: column;
  padding: 12px;
  

  sub {
    margin-top: 16px;
    font: var(--text-sm-asap);
    color: var(--gray-600);

  }
  p {
    margin-top: 8px;
    font: var(--text-sm-maven);
    color: var(--gray-500);
  }
  img {
    width: 306px;
    height: 156px;
    border-radius: 8px;
  }
}