#contact {
  background-color: var(--gray-100);
  padding-bottom: 120px;
}

#contact header {
  text-align: center;
  gap: 8px;
  padding-top: 72px;
  margin-bottom: 56px;

  sub {
    font: var(--subtitle);
    color: var(--red);

  }
  h2 {
    margin-top: 8px;
    font: var(--text-md-asap);
    color: var(--gray-600);
  }
}
#services {
  display: flex;
  justify-content: center;
  gap: 24px;
}

#cardss {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid #16181D;
  border-radius: 12px;
  padding: 20px;
  img {
    width: 48px;
    height: 48px;
  }

  p {
    margin-top: 20px;
    font: var(--text-sm-asap);
    color: var(--gray-600);
  }
  sub {
    margin-top: 8px;
    font: var(--text-sm-maven);
    color: var(--gray-500);
  }
}
