* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
          /* Colors */

 --red: #E36463;
 --purple: #BB72E9;
 --blue: #3996DB;
 --green: #82BC4F;
 --yellow: #EABD5F;

--gray-100: #0D0E11;
--gray-200: #16181D;
--gray-300: #292C34;
--gray-400: #878EA1;
--gray-500: #C0C4CE;
--gray-600: #E2E4E9;


/* fonts variable */

--text-lg-asap: 700 56px/120% "Asap", serif;
--text-md-asap: 700 24px/120% "Asap", serif;
--text-sm-asap: 700 16px/120% "Asap", serif;

--subtitle: 400 20px/120% "Inconsolata", serif;

--text-md-maven: 400 16px/140% "Maven Pro", serif;
--text-sm-maven: 400 14px/140% "Maven Pro", serif;








}

body {
  background: var(--gray-200) url(../assets/Background_Intro.png) no-repeat top/cover;
  
}

a {
  text-decoration: none;
  align-items: center;
  vertical-align: center;
}
